<!doctype html>
<title>Predictor Down</title>
<style>
    body {
        text-align: center;
        padding: 150px;
        background: #3E424B
    }

    h1 {
        font-size: 50px;
    }

    body {
        font: 20px Helvetica, sans-serif;
        color: #C01B3A;
    }

    article {
        border-style: solid;
        padding: 25px;
        display: block;
        text-align: left;
        width: 650px;
        margin: 0 auto;
    }
</style>

<article>
    <h1>Predictor SHUTDOWN:(</h1>
    <div>
        <p>Predictor is shudown for indefinite amount of time. Sorry for the inconvenience caused.</p>
    </div>
</article>