  h1, h2, h3, h4, h5, h6,
  .h1, .h2, .h3, .h4, .h5, .h6 {
    margin-bottom: 0.5rem;
    font-family: inherit;
    font-weight: 500;
    line-height: 1.2;
    color: white;
  }
  
  html, body {
    background: #1E9600;  /* fallback for old browsers */
    background: -webkit-linear-gradient(to bottom, #FF9933, #FFFFFF, #138808);  /* Chrome 10-25, Safari 5.1-6 */
    background: linear-gradient(to bottom, #FF9933, #FFFFFF, #138808); /* W3C, IE 10+/ Edge, Firefox 16+, Chrome 26+, Opera 12+, Safari 7+ */
    height: 100%;
  }
  
  .card {
    background-color: #32383e;
  }