body {
  color: #fff;
  background: #1e1e24;
}

.table .thead-dark th {
  color: #fff;
  background-color: #292721;
  border-color: #32383e;
}

.bg-primary {
  background-color: #0e4b8d !important;
}

.bg-success {
  background-color: #096b32 !important;
}

.bg-danger {
  background-color: #a10c1b !important;
}

.page-link {
  background-color: #292721;
  border-color: #32383e;
}